@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #0f172a;
  color: #f8fafc;
  font-family: Arial, Helvetica, sans-serif;
}

/* Scroll personalizado para dar mejor apariencia visual */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1e293b;
}

::-webkit-scrollbar-thumb {
  background: #38bdf8;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0ea5e9;
}